{% extends 'base.html' %}
​
{% block title %}
 {% if post %} Редактировать запись {% else %} Добавить запись {% endif %}
{% endblock %}
​
{% block content %}   
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              {% if post %} Редактирование поста  {% else %}  Создание нового поста {% endif %}            
            </div>
            <div class="form-group row my-1 p-1">         
              <form method="post">
                {% csrf_token %}   
            <div class="form-group row my-1 p-1"> 
              {% if form.errors %}
                {% for error in form.errors %}
                  <div class="alert alert-danger" role="alert">
                    {{ error| escape }}
                  </div>
                  {% endfor %}
                {% endif %}
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
                {% for field in form %}
                  <div class="form-group row my-1 p-3"> 
                    <label for="{{ field.id_for_label }}"
                      class="col-md-4 col-form-label text-md-right">
                      {{ field.label }}
                      {% if field.required %}
                        <span class="required">*</span>
                      {% endif %}
                    </label>
                    <div class="form-group row my-1 p-3">
                      <div class="row justify-content-center">
                        {{field}}
                      </div> 
                    </div>
                      {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help"
                          class="form-text text-muted">
                          {{ field.help_text|safe }}
                        </small>
                      {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary"> 
                    {% if post %} Обновить {% else %}  Сохранить {% endif %}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
